# Android / keystore
/key.properties
android/key.properties
**/key.properties
**/*.jks
**/*.keystore
**/timesheet-release.jks
**/upload-keystore.jks
.key.properties
# Flutter / build outputs
/build/
/.android/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
